body {
  background: url(../img/burger-min.jpg);
  font-family: 'Anton', sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

li {
  padding: 5px;
  margin: 5px;
  list-style: none;
}

.headers {
  text-align: center;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.display-burgers {
	width: 45%;
	display: inline-block;
  background: rgba(255,255,255,0.8);
  border-radius: 45px;
  padding: 10px;
}
